@media(max-width: 1600px) {
    .hero__bg {
        background-image: none;
        max-width: 61%;
        display: flex;
        justify-content: center;
        padding-top: 155px;
    }
    .hero__bg-texts {
    padding: unset;
    }
    .hero__bg-date {
        margin-right: auto;
        margin-left: auto;
    }
    .carousel-indicators-1 {
        bottom: 13px;
        right: 173px;
        margin-right: 17%;
    }
    .carousel-control-prev-icon-1 {
        display: block;
    }
    .carousel-control-prev-1 {
        left: 670px;
        bottom: 26px;
        top: unset;
        width: unset;
    }
    .carousel-control-next-1 {
        width: unset;
        right: 50px;
    }
    .carousel-control-prev-icon-1 {
        background-image: url(../img/svg/arrow.svg);
        transform: rotate(180deg);
    }
    .hero__text-block {
        margin-right: auto;
        padding: 109px 0 109px;
        margin-left: auto;
    }
    .hero__block {
        justify-content: space-between;
    }
}

@media(max-width: 1340px) {
    .shop__flex {
        flex-direction: column-reverse;
        gap: 24px;
    }
    .shop__block {
        justify-content: center;
    }
    .shop__text-2 {
        max-width: unset;
    }
    .shop__btn {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 60px;
    }
    .ironstar__flex {
        flex-wrap: wrap;
        gap: 10px;
    }
    .ironstar__block-2 {
        max-width: 135px;
        width: 100%;
    }
    .partners__flex {
        gap: 10px;
    }
}

@media(max-width: 1186px) {
    .hero__block {
        flex-direction: column;
    }
    .hero__img {
        width: 100%;
        height: 400px;
    }
    .hero__bg {
        bottom: 126px;
        top: unset;
    width: 100%;
    left: calc(50% - 150px);
    justify-content: center;
    padding-top: unset;
    max-width: 300px;
    }
    .carousel-control-prev-1 {
        left: 50px;
    }
    .carousel-indicators-1 {
        right: calc(50% - 21px);
        margin-right: unset;
        margin-left: unset;
    }
    .ironstar {
        padding: 50px;
    }
    .footer__grid {
        grid-template-columns: repeat(auto-fill, minmax(10vmin, 1fr));
    }
    .social {
        display: none;
    }
    .lang {
        display: none;
    }
    .navbar-toggler-icon {
        background-image: url(../img/svg/Burger.svg);
    }
    .header__right {
        align-self: start;
    margin-top: 20px;
    }
 
}

@media(max-width: 991px) {
    .header__collapse {
        background-color: #E2E000;
        padding: 24px 40px 36px;
    }
    .header__list {
        align-items: center;
        gap: 16px;
        padding-bottom: 30px;
        margin-bottom: 10px;
        border-bottom: 1px solid #000;
    }
    .header__link {
        color: #000000;
    }
    .social-576 {
        display: flex;
        
    }
    .lang-576 {
        display: flex;
    }
    .tg path {
        fill: #000;
    }
    .vk path {
        fill: #000;
    }
    .burger__flex {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
    }
    .ironstar__title {
        font-size: 48px;
line-height: 48px; /* 100% */
margin-bottom: 16px;
    }
    .ironstar__text {
        font-size: 36px;
line-height: 36px; /* 100% */
margin-bottom: 48px;
    }
    .ironstar__number {
        font-size: 56px;
line-height: 56px; /* 100% */
    }
    .ironstar__text-2 {
        font-size: 24px;
line-height: 24px; /* 100% */
    }
    .ironstar__text-3 {
        font-size: 16px;
line-height: 16px; /* 100% */
    }
    .ironstar__block-1, .ironstar__block-2, .ironstar__block-3, .ironstar__block-4 {
        display: flex;
        flex-direction: column;
    }
    .partners__flex {
        flex-direction: column;
        align-items: center;
    }
    .carousel-indicators-2 {
        bottom: 0;
    }
    .parnters__left {
        display: flex;
        flex-direction: column;
        max-width: unset;
    }
    .partners__off {
        margin-left: unset;
    }
    .partners__gen {
        margin-right: unset;
    }
    .partners__logos-big {
        display: none;
    }
    .partners__logos-big-991 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .partners__right {
        text-align: center;

    }
    .blog__grid {
        flex-direction: column;
        gap: 24px;
    }
    .blog__items {
        gap: 40px;
    }
    .clubs__flex {
        flex-direction: column-reverse;
        gap: 20px;
        text-align: center;
    }
    .clubs__title br {
        display: none;
    }
    .clubs__text {
        max-width: unset;
    }
    .competition__grid {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
    }
    .footer__flex {
        flex-direction: column;
        gap: 24px;
    }
    .footer__form {
        flex-direction: column;
        gap: 8px;
    }
    .footer__input {
        max-width: unset;
    }
    .footer__btn {
        max-width: unset;
    }
    .footer__socials {
        align-self: center;
    }
    .header {
        padding: 11px 16px;
    }
    .clubs__flex_cr {
        flex-direction: column;
    }
    .login-icon {
        position: absolute;
        right: 0;
        top: 20px;
    }
    .logo-svg {
        display: none;
    }
    .logo-svg-991 {
        display: block;
        
    }
    .logo {
        position: absolute;
        left: calc(50% - 29.5px);
        padding: unset;
        margin: unset;
        top: 20px;
    }
}

@media (max-width: 576px) {
    .carousel-control-next-3 {
        display: none;
    }
    .carousel-control-prev-3 {
        display: none;
    }
    .hero__text-block {
        padding: 48px 0;
    }
    .hero__title {
        font-size: 32px;
line-height: 36px; /* 112.5% */
margin-bottom: 24px;
    }
    .hero__text {
        font-size: 14px;
        line-height: 18px; /* 128.571% */  
    }
    .hero__bg-text-2 {
        font-size: 24px;
line-height: 28px; /* 116.667% */
    }
    .hero__bg-text-3 {
        font-size: 14px;
        line-height: normal;
    }
    .competition__item {
        background-image: url(../img/1-576.jpg);
    }

    .competition__item-2 {
        background-image: url(../img/2-576.jpg);
    }
    .competition__item-3 {
        background-image: url(../img/3-576.jpg);
    }
    .competition__item-4 {
        background-image: url(../img/4-576.jpg);
    }
    .competition__item-5 {
        background-image: url(../img/5-576.jpg);
    }
    .competition__item-6 {
        background-image: url(../img/6-576.jpg);
    }
    .ironstar__flex {
        flex-direction: column;
        gap: 24px;
        margin-bottom: 48px;
    }
    .ironstar__block-1, .ironstar__block-2, .ironstar__block-3, .ironstar__block-4 {
        align-items: center;
    }
    .ironstar__text-4 {
        text-align: center;
    }
    .ironstar__line {
        height: 2px;
        width: 24px;
    }
    .ironstar__text-4 {
        margin-bottom: 16px;
    }
    .ironstar__text-5 {
        font-size: 24px;
line-height: 28px; /* 116.667% */
    }
    .ironstar__btn {
        max-width: unset;
    }
    .ironstar__title {
        text-align: center;

    }
    .ironstar__text {
        text-align: center;
    }
    .clubs__flex picture {
        width: 100%;
    }
    .clubs__img {
        width: 100%;
    }
    .clubs {
        padding: 48px 0;
    }
    .clubs__title {
        font-size: 28px;
line-height: 30px; /* 107.143% */
margin-bottom: 24px;
    }
    .clubs__text {
        font-size: 14px;
line-height: 18px; /* 128.571% */
margin-bottom: 24px;
    }
    .clubs__btn {
        max-width: unset;
    }
    .partners {
        padding: 48px 0;
    }
    .partners__title {
        text-align: center;
        font-size: 28px;
line-height: 30px; /* 107.143% */
    }
    .partners__text {
        text-align: center;
    }
    .blog {
        padding: 48px 0 60px;
    }

    .blog__title {
        font-size: 28px;
line-height: 30px; /* 107.143% */
margin-bottom: 24px;
text-align: center;
    }
    .blog__btn {
        max-width: unset;
    }
    .shop .container {
        padding: unset;
    }
    .shop__text {
        font-size: 28px;
line-height: 30px; /* 107.143% */
    }
    .shop__block svg {
        max-width: 106px;
        height: 78px;
    }
    .shop__block {
        margin-bottom: 30px;
    }
    .shop__text-2 {
        max-width: 342px;
        text-align: center;
    }
    .shop__btn {
        max-width: unset;
    }
    .footer__grid {
        grid-template-columns: 1fr 1fr;
        gap: 40px 60px;
        margin-bottom: 48px;
    }
    .ironstar__text-5 {
        text-align: center;
    }
    .competition__item {
        padding: 126px 16px 16px;
    }
    .partners__inf svg {
        width: 88.889px;
height: 15.459px;
    }
    .partners__inf .partners__logos {
        gap: 60px 21px;
        margin-bottom: 48px;
    }

    .partners__logos-big svg {
        width: 75px;
        height: 21px;
    }
    .partners__logos-big img {
        width: 75px;
        height: 21px;
    }
    .partners__logos-big-991 {
        gap: 50px 25px;
    }
    .carousel-control-prev-3 {
        top: -76px;
        opacity: 0;
        display: block;
    }
    .carousel-control-prev-3:hover {
        opacity: 0;
    }

    .carousel-control-next-3 {
        top: -76px;
        opacity: 0;
        display: block;
    }
    .carousel-control-next-3:hover {
        opacity: 0;
    }

}